<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/assets/style.css">
  <link rel="stylesheet" href="/assets/dsfr/dsfr.min.css" />

</head>
<body>
<header>
  <h1>{{ title }} zzz </h1>
</header>
<main>
  {{ content | safe }}
</main>
<script src="/assets/script.js"></script>


<script type="module" src="/assets/dsfr/dsfr.module.min.js"></script>
  <script nomodule src="/assets/dsfr/dsfr.nomodule.min.js"></script>
  <script src="/assets/script.js"></script>
</body>
</html>
