<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>

  <!-- Ton CSS uniquement -->
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>

  <!-- Juste le contenu de la page -->
  {{ content | safe }}

  <!-- Ton JS uniquement -->
  <script src="/assets/script.js"></script>
</body>
</html>
