<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- DSFR OFFICIEL -->
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@gouvfr/dsfr@1.12.1/dist/dsfr.min.css">
  <script defer
    src="https://cdn.jsdelivr.net/npm/@gouvfr/dsfr@1.12.1/dist/dsfr.module.min.js"></script>

  <!-- MARKDOWN -->
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

  <!-- CUSTOM -->
  <link rel="stylesheet" href="/assets/css/custom.css">
</head>

<body>
  {% include "header.njk" %}

  <main class="fr-container fr-my-6w">
    {{ content | safe }}
  </main>

  <script src="/assets/js/app.js"></script>
</body>
</html>
