<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/assets/style.css">
  <link rel="stylesheet" href="/assets/dsfr/dsfr.min.css" />
 
  
</head>

<body>
  {% include "header.njk" %}

  <main class="fr-container fr-my-6w">
    {{ content | safe }}
  </main>
<script type="module" src="/assets/dsfr/dsfr.module.min.js"></script>
  <script nomodule src="/assets/dsfr/dsfr.nomodule.min.js"></script>
  <script src="/assets/script.js"></script>
</body>
</html>
