<h1>segmented</h1>
<p>Le composant &quot;contrôle segmenté&quot; incite l'utilisateur à choisir entre plusieurs options d'affichage disponibles (vues), mutuellement exclusives avec une valeur sélectionnée par défaut.</p>
<h2>Dépendances</h2>
<pre><code class="language-shell">segmented
└─ core
└─ form
</code></pre>
<h2>Utilisation</h2>
<p>Afin d’utiliser le composant <code>segmented</code>, il est nécessaire d’ajouter les fichiers de styles et de scripts présents dans le dossier dist dans l'ordre suivant :\n</p>
<pre><code class="language-html">&lt;html&gt;
  &lt;head&gt;
    &lt;link href=&quot;css/core/core.min.css&quot; rel=&quot;stylesheet&quot;&gt;
    &lt;link href=&quot;css/form/form.min.css&quot; rel=&quot;stylesheet&quot;&gt;
    &lt;link href=&quot;css/segmented/segmented.min.css&quot; rel=&quot;stylesheet&quot;&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;script type=&quot;text/javascript&quot; nomodule href=&quot;js/legacy/legacy.nomodule.min.js&quot; &gt;&lt;/script&gt;
    &lt;script type=&quot;module&quot; href=&quot;js/core/core.module.min.js&quot; &gt;&lt;/script&gt;
    &lt;script type=&quot;text/javascript&quot; nomodule href=&quot;js/core/core.nomodule.min.js&quot; &gt;&lt;/script&gt;
    &lt;script type=&quot;module&quot; href=&quot;js/segmented/segmented.module.min.js&quot; &gt;&lt;/script&gt;
    &lt;script type=&quot;text/javascript&quot; nomodule href=&quot;js/segmented/segmented.nomodule.min.js&quot; &gt;&lt;/script&gt;
  &lt;/body&gt;
&lt;/html&gt;
</code></pre>
<h2>Documentation</h2>
<p>Consulter <a href="https://www.systeme-de-design.gouv.fr/elements-d-interface/composants/controle-segmente">la documentation</a> sur le module Contrôle segmenté</p>
