<h1>modal</h1>
<p>La modale permet de concentrer l’attention de l’utilisateur exclusivement sur une tâche ou un élément d’information, sans perdre le contexte de la page en cours. Ce composant nécessite une action de l’utilisateur afin d'être clôturé ou ouverte.</p>
<h2>Dépendances</h2>
<pre><code class="language-shell">modal
└─ core
└─ link
└─ button
</code></pre>
<h2>Utilisation</h2>
<p>Afin d’utiliser le composant <code>modal</code>, il est nécessaire d’ajouter les fichiers de styles et de scripts présents dans le dossier dist dans l'ordre suivant :\n</p>
<pre><code class="language-html">&lt;html&gt;
  &lt;head&gt;
    &lt;link href=&quot;css/core/core.min.css&quot; rel=&quot;stylesheet&quot;&gt;
    &lt;link href=&quot;css/link/link.min.css&quot; rel=&quot;stylesheet&quot;&gt;
    &lt;link href=&quot;css/button/button.min.css&quot; rel=&quot;stylesheet&quot;&gt;
    &lt;link href=&quot;css/modal/modal.min.css&quot; rel=&quot;stylesheet&quot;&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;script type=&quot;text/javascript&quot; nomodule href=&quot;js/legacy/legacy.nomodule.min.js&quot; &gt;&lt;/script&gt;
    &lt;script type=&quot;module&quot; href=&quot;js/core/core.module.min.js&quot; &gt;&lt;/script&gt;
    &lt;script type=&quot;text/javascript&quot; nomodule href=&quot;js/core/core.nomodule.min.js&quot; &gt;&lt;/script&gt;
    &lt;script type=&quot;module&quot; href=&quot;js/modal/modal.module.min.js&quot; &gt;&lt;/script&gt;
    &lt;script type=&quot;text/javascript&quot; nomodule href=&quot;js/modal/modal.nomodule.min.js&quot; &gt;&lt;/script&gt;
  &lt;/body&gt;
&lt;/html&gt;
</code></pre>
<h2>Documentation</h2>
<p>Consulter <a href="https://www.systeme-de-design.gouv.fr/elements-d-interface/composants/modale">la documentation</a> sur le module Modale</p>
