<h1>summary</h1>
<p>Le sommaire permet aux utilisateurs d’avoir un aperçu du contenu et de naviguer entre les différentes sections d’une page.</p>
<h2>Dépendances</h2>
<pre><code class="language-shell">summary
└─ core
</code></pre>
<h2>Utilisation</h2>
<p>Afin d’utiliser le composant <code>summary</code>, il est nécessaire d’ajouter les fichiers de styles et de scripts présents dans le dossier dist dans l'ordre suivant :\n</p>
<pre><code class="language-html">&lt;html&gt;
  &lt;head&gt;
    &lt;link href=&quot;css/core/core.min.css&quot; rel=&quot;stylesheet&quot;&gt;
    &lt;link href=&quot;css/summary/summary.min.css&quot; rel=&quot;stylesheet&quot;&gt;
  &lt;/head&gt;
  &lt;body&gt;
  &lt;/body&gt;
&lt;/html&gt;
</code></pre>
<h2>Documentation</h2>
<p>Consulter <a href="https://www.systeme-de-design.gouv.fr/elements-d-interface/composants/sommaire">la documentation</a> sur le module Sommaire</p>
