name: Deploy Eleventy to GitHub Pages

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '20'
      - run: npm install
      - run: ELEVENTY_ENV=production npm run build
      - uses: actions/upload-pages-artifact@v3
        with:
          path: ./_site
      - id: deployment
        uses: actions/deploy-pages@v4
